{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}
<div class="container w-50 my-4">
    <h2 class="form-text fs-1 mb-3 text-center">TODO</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Label: </label>
            <input type="email" name="title" class="form-control input" id="title" autocomplete="false">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description: </label>
            <textarea name="desc" id="desc" class="form-control input" cols="30" rows="0"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>


<div class="container">
    <hr>
</div>


<div class="container">
    <h2 class="form-text fs-2 text-center my-3">Your TODOS</h2>
    <div class="row my-3">
        {% for todo in alltodo %}
        <div class="col-md-4 my-3">
            <div class="card p-3" style="min-height: 13rem;">
                <h1 class="text-center fs-3 form-text">{{todo.title}}</h1>
                <p class="form-text text-center fs-5 mt-4">{{todo.desc}}</p>
                <small class="position-absolute bottom-0 end-0 form-text">{{todo.date_created}}</small>
                <div class="position-absolute bottom-0 left-0">
                    <button class="btn"><a style="color: rgb(131, 131, 131);" href="/delete/{{todo.sno}}"><i
                                class="fas fa-trash-alt"></i></a></i></button>
                    <button class="btn"><a style="color: rgb(131, 131, 131);" href="/update/{{todo.sno}}"><i
                                class="fas fa-edit"></i></a></button>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}